*{
    margin:0px;
    
}
.heading{
    color: rgb(225, 224, 223);
   font-size: 45px;
   /* font-weight: 500px; */
    
}

.appbody{
 background-image:url(./img-2.jpg) ;
background-position:top;
background-repeat: no-repeat;
background-size: cover;
display: flex;
justify-content: center;
text-align: center;
/* align-items: center; */ 
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }
 label{
    font-size: 30px;
    color: rgb(40, 7, 7);
    font-family: Arial, Helvetica, sans-serif;
 }
 /* button{
    background-color: rgb(16, 41, 56);
 } */

/* .output{
    background: black;
    opacity: 50px;
} */

